<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Testing Capacitor
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="callNumberTo('8860405864')">
          Call
         </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="openPlayStore()">
          App Store / Play Store
         </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="exitApp()">
          Exit App
         </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="takeScreenshot()">
          Take Screenshot
         </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="pickContact()">
          Pick Contants
         </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="testCrash()">
          Test Crash
         </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="showLock()">
          Show Lock
         </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="startWithVisitorChat()">
          Start Chat
         </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="pickContact()">
          Pick Contants
         </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="captureVideo()">
          Capture Video
         </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="screenshotURI">
      <img style="width: 100%;" [src]="screenshotURI">
    </ion-row>
  </ion-grid> -->
  
  <div class="container">
    <div class="content">
      <ng-container *ngFor="let table of tableData">
        <div class="seat" [ngStyle]="{ left: (table.cordinates[0]) + 'px', top: table.cordinates[1] + 'px', width: (table.cordinates[2] - table.cordinates[0]) + 'px', height: (table.cordinates[3] - table.cordinates[1]) + 'px' }"></div>
      </ng-container>
      <img src="/assets/imgs/k3.jpg">
    </div> 
    <div style="display: flex; flex-direction: column;" #personContainer>
      <ion-icon cdkDrag cdkDragBoundary=".content" style="font-size: 1em; padding: 10px; border: 2px solid skyblue; color: skyblue;" *ngFor="let x of [0, 1, 2, 3, 4, 5, 6, 7, 8]" name="person" (cdkDragReleased)="onDragReleased($event)" (cdkDragStarted)="onDragStarted($event)"></ion-icon>
    </div>   
  </div>
</ion-content>
