<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Testing Capacitor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="callNumberTo('8860405864')">
          Call
         </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="openPlayStore()">
          App Store / Play Store
         </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="exitApp()">
          Exit App
         </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="takeScreenshot()">
          Take Screenshot
         </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="pickContact()">
          Pick Contants
         </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="testCrash()">
          Test Crash
         </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="showLock()">
          Show Lock
         </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="startWithVisitorChat()">
          Start Chat
         </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="pickContact()">
          Pick Contants
         </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
